.contacts {
  &__info-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    text-align: center;
    transition: opacity .3s ease;
    &:hover {
      opacity: .7;
    }
  }
  &__info-icon {
    display: inline-block;
  }
  &__info-icon .fa {
    font-size: 40px;
  }
  &__info-title {
    font-size: 18px;
    color: #302e4d;
    text-transform: capitalize;
    margin: 15px 5px;
  }
  &__info-text {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
  }
}