.form {
  width: 100%;
  &__row {
    display: flex;
    margin: 32px 0;
  }
  &__input-data {
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }
  &__textarea {
    min-height: 100px;
  }
  &__input-data input,
  &__textarea textarea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
  }
  &__input-data input:focus ~ label,
  &__textarea textarea:focus ~ label,
  &__input-data input:valid ~ label,
  &__textarea textarea:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
  }
  &__textarea textarea {
    resize: none;
    padding-top: 10px;
  }
  &__input-data label {
    position: absolute;
    pointer-events: none;
    top: 0px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  &__textarea label {
    width: 100%;
    bottom: 40px;
    background: #fff;
    background-color: transparent;
  }
  &__underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  &__underline:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  &__input-data input:focus ~ .form__underline:before,
  &__input-data input:valid ~ .form__underline:before,
  &__textarea textarea:focus ~ .form__underline:before,
  &__textarea textarea:valid ~ .form__underline:before {
    transform: scale(1);
  }
  
}
