.portfolio {
  .container {
    padding-bottom: 40px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -20px;
  }
  &__item {
    flex: 1 0 30%;
    max-width: 100%;
    height: 200px;
    position: relative;
    border-radius: 10px;
    margin: 20px 15px;
    box-shadow: inset 10px 10px 10px rgba(0,0,0,.03),
    inset -10px -10px 15px rgba(255,255,255,.1),
    10px 10px 10px rgba(0,0,0,.03),
    -10px -10px 15px rgba(255,255,255,.5);
    &:hover .portfolio__item-inner {
      transform: translateY(-50px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    }
  }
  &__item-inner {
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    transition: all .4s ease;
	  backface-visibility: hidden;
    will-change: transform;
    z-index: 2;
    &:hover .portfolio__info-title,
    &:hover .portfolio__info-description,
    &:hover .portfolio__info-icon,
    &:hover .portfolio__info {
      opacity: 1;
      transform: translateX(0px);
    }
    
  }
  &__img {
    height: 100%;
    width: 100%;
  }
  &__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    padding: 15px;
    transition: all .3s ease;
    opacity: 0;
  }
  &__info-title {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    transition: all .3s ease;
    transform: translateX(-20px);
    margin-bottom: 5px;
    opacity: 0;
  }
  &__info-description {
    font-size: 14px;
    color: #fff;
    transition: all .3s ease;
    transform: translateX(-20px);
    text-shadow: 0px 0px 2px #000;
    opacity: 0;
  }
  &__info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 10px;
    transition: all .3s ease;
    transform: translateX(20px);
    opacity: 0;
  }
  &__info-link {
    font-size: 16px;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    color: rgb(105, 105, 105);
    text-align: center;
    z-index: 1;
    transition: color .3s ease;
    &:hover {
      color: rgb(182, 182, 182);
    }
  }
}