@media (max-width: 1199px) {
  .main__content {
    padding-left: 0;
  }
  .aside.open {
    left: 0px;
  }
  .about__personal {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio__item:hover .portfolio__item-inner {
    transform: none;
  }
  .portfolio__item-inner:hover .portfolio__info-title,
  .portfolio__item-inner:hover .portfolio__info-description,
  .portfolio__item-inner:hover .portfolio__info-icon,
  .portfolio__item-inner:hover .portfolio__info {
    transform: none;
    opacity: 0;
  }
  .lightbox__controls-prev, .lightbox__controls-next {
    top: auto;
    bottom: 3%;
  }
  .lightbox__content {
    width: 100%;
  }
  .portfolio__item {
    margin: 10px 15px;
  }
}
@media (max-width: 991px) {
  .aside {
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto;
    bottom: 0;
    width: 100%;
    height: 60px;
    padding: 0;
  }
  .aside__items {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
  }
  .aside__item {
    flex-direction: column;
    margin-bottom: 0;
    width: 70px;
    height: 45px;
    border-bottom: none;
    .fa {
      padding-top: 7px;
    }
  }
  .aside__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-size: 12px;
    border-radius: 5px;
    padding-left: 0;
    padding-top: 19px;
    box-shadow: inset -2px -2px 5px rgba(184, 185, 190, 1), inset -3px -3px 7px rgba(255,255,255,1);
    transition: box-shadow .3s ease;
    
  }
  .main.dark .aside__item-link {
    box-shadow: inset -2px -2px 5px #000, inset 3px 3px 3px rgba(255, 255, 255, 0.2);
  }
  .aside__item-link.active,
  .aside__item-link:hover {
    margin-right: 0;
    box-shadow: inset 2px 2px 5px rgba(184, 185, 190, 1), inset -3px -3px 7px rgba(255,255,255,1);
  }
  .main.dark .aside__item-link.active,
  .main.dark .aside__item-link:hover {
    box-shadow: inset 2px 2px 5px #000, inset 3px 3px 7px rgba(47, 47, 47, 1);
  }
  .aside__item-link:not(.active):hover {
    padding-left: 0;
  }
  .aside__logo {
    display: none;
  }
  .aside__copyright {
    display: none;
  }
  .section {
    left: 0;
    padding-bottom: 100px;
  }
  .toggle {
    left: 1px;
  }
  
}
@media (max-width: 767px) {
  .about__education,
  .portfolio__item,
  .about__personal-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contacts__info-item {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
  .section {
    padding: 0 15px 100px;
  }
  .contacts.section {
    padding: 0 15px 120px;
  }
  h2 {
    font-size: 36px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .color {
    right: -215px;
  }
  .color.active {
    right: 1px;
  }
  .about__benefits-item {
    flex: 0 0 100%;
  }
}

@media (max-width: 370px) {
  .aside__item-link {
    font-size: 10px;
  }
  .aside__item {
    width: 60px;
  }
}