html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Circe Rounded", sans-serif;
  background-color: var(--color-white);
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

img {
  max-width: 100%;
}
svg {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}



.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}




