@import "vars";
@import "mixins";
@import "fonts";
@import "settings";
@import "./components/aside";
@import "./components/home";
@import "./components/about";
@import "./components/portfolio";
@import "./components/lightbox";
@import "./components/contacts";
@import "./components/form";
@import "./components/color";



.section {
  min-height: 100vh;
  background-color: #f2f2fc;
  padding: 0 30px;
  position: relative;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.3s ease;
}
.fixed {
  position: fixed;
}
.section.open {
  left: 270px;
}
.section.back-section {
  z-index: 1;
}
.section.active {
  opacity: 1;
  z-index: 2;
  animation: slideSection 1s ease;
}
.sv {
  a {
    display: inline-block;
    margin-bottom: 15px;
    transition: color .3s ease;
    &:hover {
      color: rgb(126, 126, 126);
    }
  }
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
  max-width: 1200px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}
.row.center {
  justify-content: center;
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.hidden {
  display: none !important;
}
.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.main__aside {
  position: fixed;
  width: 270px;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #fdf9ff;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.25), 3px 3px 7px rgba(255, 255, 255, 1);
}
.section-title {
  font-size: 40px;
  color: #302e4d;
  position: relative;
  margin-bottom: 60px;
  &::before {
    content: "";
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 15px;
  }
  &::after {
    content: "";
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 15px;
    margin-top: 8px;
  }
}

//preloader
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200000;
  transition: all 1s ease;
  &.opacity {
    opacity: 0;
  }
  &__loader {
    width: 40px;
    height: 40px;
    border: 4px solid #e3e3e3;
    border-radius: 50%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

//scroll
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.541);
}

::-webkit-scrollbar-thumb {
  background: rgba(187, 15, 255, 0.993);
  border-radius: 10px;
}

//checkboxLang

.change-lang {
  position: relative;
  z-index: 100;
}

$toggle-borderColor: #8c8c8c;
$toggle-shadowColor: #999;

$inactiveTextColor: #999;

.toggle {
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 8px;
  backdrop-filter: blur(2px);
  z-index: 100;
}
.toggle--checkbox {
  visibility: hidden;
}
.toggle--text {
  .toggle--btn {
    display: block;
    position: relative;
    width: 65px;
    height: 29px;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 40px;
    border: 1px solid $toggle-borderColor;
    border-right: 2px solid $toggle-borderColor;
    cursor: pointer;
    z-index: 100;
    &:before,
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      content: attr(data-label-on);
      left: 15%;
      color: $red;
    }
    &:after {
      content: attr(data-label-off);
      right: 15%;
      color: $inactiveTextColor;
    }
  }
  .toggle--checkbox:checked {
    & + .toggle--btn {
      border-left: 2px solid $toggle-borderColor;
      border-right: 1px solid $toggle-borderColor;
      &:before {
        color: $inactiveTextColor;
      }
      &:after {
        color: $red;
      }
    }
  }
}

@import "./media";
